bot/test.py
*.pyc
*.swp
*.crt
*.key
nonpublic.py
.vnv
.vs/aiobot/v16/.suo
.vs/ProjectSettings.json
.vs/PythonSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vscode/settings.json
brati*
*.db
log.txt
